@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@import "tailwindcss";

:root {
  --primary: #345ad4;
  --secondary: #819bed;
  --accent: #d8d8d8;
  --text-primary: #0a0a0a;
  --text-secondary: #333333;
  --bg-primary: #ffffff;
  --bg-secondary: #edf2f7;
  --header-height: 76px;

  /* Ny shadow-variabel */
  --box-shadow: 0 4px 24px 1px rgba(0, 0, 0, 0.1);
}

body {
  font-family: "Roboto", sans-serif;
}

.text-shadow {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
.text-shadow-sm {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
